body {
    background-color: lightgrey;
    font-family: 'Itim', cursive;
   
}

#title {
    font-size: 2em;

}

.extraConditions {
    display: inline-block;
}

#currentImg {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
#currentTemp{
    font-size: 4em;
}

#weatherSection {
    /*position:relative;*/
    margin-top: -70px;
}

#radioButtons {

    width: 30px;

}
#todayLow, #todayWind{
    margin-right: 20px;
    
}
#todayDetails{
    font-size:1.5em;
}

.well {
    /*border:1px black solid;*/
    /*background-image: url("https://images.unsplash.com/photo-1438449805896-28a666819a20?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");*/
    /*background-size: 100%;*/
    /*opacity:.1;*/
    padding-top: 35px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    /*background-color: #FF7F50;*/
    color: white;
     text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#weatherIcon {
    font-size: 6em;
}
#accordion{
    width: 70%;
    margin-right:auto;
    margin-left:auto;
}